*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;   
    scroll-behavior: smooth;  
}

.menu{
    background-color: #fff3bd;
    height: 150px;
    border-bottom: 5px solid rgb(255, 255, 255);
    border-top: 5px solid rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.menu2{
    background-color: #bec8ff;
    height: 150px;
    border-bottom: 5px solid rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.menu3{
    background-color: #bdffd3;
    height: 150px;
    border-bottom: 5px solid rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.menuitems{
    height: 90%;
    flex-grow: 1;
    flex-shrink: 1;
    background-color: white;
    margin-right: 20px;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;  
    transition: flex-grow .7s;
    
}

.menuitems2 {
    height: 90%;
    flex-grow: 5;
    flex-shrink: 1;
    flex-basis: auto;
    background-color: white;
    margin-right: 20px;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;   
    transition: flex-grow .7s;
}

.menuitems3 {
    height: 90%;
    flex-grow: 2;
    flex-shrink: 1;
    flex-basis: auto;
    background-color: white;
    margin-right: 20px;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;   
    transition: flex-grow .7s;
}




.container{
    height: 300px;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(255, 214, 214);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid rgb(255, 255, 255);
}

.item{
    height: 100%;
    background-color: white;
    min-width: 100px;
}

p{
    color: rgb(255, 125, 125);
    font-family: 'Courier New', Courier, monospace;
    font-size: 70px;
}

.longscroll{
    background-image: linear-gradient(#bdffd3, #fff3bd, rgb(255, 214, 214), #bec8ff);
    height: 5000px;
}

